extends layout
block content
  h1= title
  -
  -var result = [{"Deer_name":"Faline.","Deer_size":10,"Deer_type":"mule deer"},{"Deer_name":"sika deer","Deer_size":20,"Deer_type":"Cervus nippon"},{"Deer_name":"Roe Deer","Deer_size":20,"Deer_type":"Eurasian deer"}]
  div.container-fluid
     div.row
        each item,index in result
            div.col-sm-2(onclick=`buy(${index})`) Deer Name: #{item["Deer_name"]}  <br>  Deer_size: #{item["Deer_size"]} <br> Deer_type: #{item["Deer_type"]} 
  script.
      function buy(index){
         alert("you purchased item "+(index+1))
      }
      