extends layout

block content
  h1=title
  div(class='container' style="text-align: center;")
        button.btn( style="margin: 5px; width: 120px;", onclick=`dispatch(\"/Deer/create\")`) Create
  - var re = [{"Deer_Name": "Faline", "Deer_size": 10, "Deer_type": "mule deer"},{"Deer_Name": "sika deer", "Deer_size": 20, "Deer_type": "cervus"},{"Deer_Name": "Roe", "Deer_size": 20, "Deer_type": "Eurasian deer"}]
  h1= title
  - let result=results
  div(class="container-fluid")
    div(class="row m-1")
        each item in results
            div(class="row-sm-2", class="m-1") Deer Name: #{item.Deer_Name}<br>Deer Type: #{item.Deer_type}<br>(Deer size: #{item.Deer_size})<br>
              button.btn(onclick=`dispatch(\"/Deer/detail?id=${item._id}\")`) View
              button.btn(onclick= `dispatch(\"/Deer/update?id=${item._id}\")`) Update
              button.btn(onclick= `dispatch(\"/Deer/delete?id=${item._id}\")`) Delete
  script.
      function dispatch(path){
      window.location.href=path
      }